<form {{action 'save' on='submit'}}>
  <div class="form-group">
    <label for="title">Заголовок</label>
    {{input value=model.title classNames='form-control' id='title' placeholder='Название голосования'}}
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" {{bind-attr checked=model.active}}> Активен
    </label>
  </div>

  <table class="table table-hover">
      <thead>
          <tr>
              <th>#</th>
              <th>Заголовок</th>
              <th>Действия</th>
          </tr>
      </thead>
      <tbody>
      {{#each model.options as |item|}}
          <tr>
              <th scope="row">{{item.id}}</th>
              <td>{{item.title}}</td>
              <td>
                  {{#link-to 'admin.option' item classNames='btn btn-default'}}
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать
                  {{/link-to}}
              </td>
          </tr>
      {{/each}}
      </tbody>
  </table>

  <button type="submit" class="btn btn-default">Сохранить</button>
  <button class="btn btn-danger" {{action 'cancel'}}>Отмена</button>
</form>