<ol class="breadcrumb">
  <li>{{link-to 'Администрирование' 'admin'}}</li>
  <li class="active">Голосование</li>
</ol>

<div class="panel panel-default">
    <div class="panel-body">
        {{#link-to 'admin.voting.create' classNames='btn btn-default'}}
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить
        {{/link-to}}
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Заголовок</th>
                <th>Активен</th>
                <th>Количество элементов</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {{#each model as |item|}}
            <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.active}}</td>
                <td>{{item.options.length}}</td>
                <td>
                    {{#link-to 'admin.voting.edit' item classNames='btn btn-default'}}
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Редактировать
                    {{/link-to}}
                    <button class="btn btn-danger" {{action 'delete' item}}>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Удалить
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>